<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graduationproject_2019_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 백그라운드 알람 서비스 관련 퍼미션 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/seoul_sky_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        <service
            android:name=".Manager.PersistentService"
            android:enabled="true"
            android:process=":remote" >
        </service>
        -->

        <activity android:name=".Activity.MiseInfoActivity"></activity>
        <activity android:name=".Activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.UploadActivity" />
        <activity android:name=".Activity.ActionActivity" />

        <service
            android:name=".Manager.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".Manager.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <!--
        <receiver
            android:name=".Manager.RestartService"
            android:enabled="true"
            android:exported="false"
            android:label="RestartService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="ACTION.RESTART.PersistentService" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->

        <receiver android:name=".Activity.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <!-- BUTTON1 부분 나타나지 않음 -> WHY? -->
                <action android:name="com.example.graduationproject_2019_1.BUTTON1"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/appwidget_info" />
        </receiver>

    </application>



</manifest>